 html body {
  	font-family: 'Helvetica', Arial, sans-serif;
 -	color: #111
 -	background: #E7E7E7;
 +	color: #111;
 +	background: #00cc66;
 +	text-align: center;
 +}
 +
 +#word_display
 +{
 +	color: red;
 +	text-transform: uppercase;
 +	font-weight: bold;
 +}
 +
 +#but1, #but2, #but0
 +{
 +	background: #335566;
 +	padding-top: 20px;
 +	padding-bottom: 20px;
 +	padding-left: 20px;
 +	padding-right: 20px;
 +	font-weight: bold;
 +	color: white;
 +	text-transform: uppercase;
  }
  
  a {
 @@ -9,7 +29,7 @@ a {
  }
  
  .content {
 -	text-align: center
 +	text-align: center;
  	padding: 0 15% 20px;
  }
  
 @@ -17,9 +37,9 @@ a {
  	text-transform: uppercase;
  	font-weight: bold;
  	margin: 20px 0;
 +}
  
 -
 -content form {
 +.content form {
  	padding: 10px;
  	width: 300px;
  	margin: 0 auto;
 @@ -27,10 +47,10 @@ content form {
  
  .content form input {
  	width: 100%;
 -	// border: 2px solid #107394;
 +	/*border: 2px solid #107394;*/
  	color: #107394;
 -	background: transparent;
 -	magrin-bottom: 15px;
 +	/*background: transparent;*/
 +	margin-bottom: 15px;
  }
  
  .content div {
 @@ -40,17 +60,25 @@ content form {
  }
  
  .click {
 -	background: #ADD8E6;
 +	background: #008040;
 +	color: white;
 +	font-weight: bold;
  }
  
 -.mouse-over {
 -	background: #CF6E0E;
 +.mouseover {
 +	background: #008040;
 +		color: white;
 +	font-weight: bold;
  }
  
  .submit {
 -	background: #43AC6A;
 +	background: #006633;
 +		color: white;
 +	font-weight: bold;
  }
  
  .timeout {
 -	background: #CCCCCC;
 +	background: #004d26;
 +		color: white;
 +	font-weight: bold;
  }